*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    background-color:#f3f3f3;
}
.header img{
    width: 180px;
    margin: 20px;
}
.container-header{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.ul-headerlist{
    display: flex;
    justify-content: flex-end;
}
li{
    list-style: none;
}
.ul-headerlist li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 12px;
    transition-duration: 1s
}
.ul-headerlist li a:hover{
    background-color: #ddd;
}