*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    background-color:#f3f3f3;
}
.header{
    background-color: slategray;
}
.header{
    height: 70px;
}
.header img{
    width: 180px;
    margin: 15px;
}
.container-header{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.ul-headerlist{
    display: flex;
    justify-content: flex-end;
}
li{
    list-style: none;
}
.ul-headerlist li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 10px 20px;
    transition-duration: 1s
}
.ul-headerlist li a:hover{
    background-color: #5f5c5c;
}
.ul-headerlist li{
    position: relative;
}
.submenu{
    position: absolute;
    right: 0;
    top: 100%;
    left: -39px;  
    z-index: 1;
}
.submenu li{
    background-color:#fff;
    display: none;
    width: 100%;  
    border-bottom: 1px solid #000;
}
.submenu a{
    display: block;
    text-align: center;
    width: 100%;
}
.submenu li:last-child{
    border-bottom: none;
}
.item-nav li:hover >.submenu li{
    display: inline-block;
}
#header-top{
    height: 500px;
    width: 100%;
    position: relative;
    background-color: #000;
}
#header-top::before {
    content: '';
    position: absolute;
    z-index: 0;
    background: url(/img/featured.jpg) no-repeat center center;
    background-size: cover; 
    height: 500px;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}  
.header-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
    height:100%; 
}
.header-content{
    position: relative;
    z-index: 1; 
    color: #fff; 
    padding: 2rem;
}
.category{
    background-color: #FFB300;
    display: block;
    width: 70px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
}
.btn-head{
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color:#fff;
    background-color: #E90000;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.8s;
}
.btn-head:hover{
    background-color: #000;
    padding-right: 5px;
}
